[Unit]
Description=App Service
ConditionPathExists=/home/ubuntu/app
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
LimitNOFILE=1048576

Restart=on-failure
RestartSec=5
StartLimitInterval=30
RuntimeMaxSec=21600

WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/app

Environment=PORT=8000
Environment=DATABASE_URL=
Environment=RPC_URL_MAINNET=
Environment=RODEO_PRIVATE_KEY_MAINNET=

PermissionsStartOnly=true
StandardOutput=journal
StandardError=journal
SyslogIdentifier=app

[Install]
WantedBy=multi-user.target
